//<ОСНОВНОЙ БЛОК>====================================================================================================

//</ОСНОВНОЙ БЛОК>====================================================================================================

//<ГОТОВЫЕ КЛАССЫ>====================================================================================================
.row:after {
	display: block;
	content: "";
	clear: both;
}
.rub:after {
	content: "₽";
}
//====================================================================================================
%noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
//====================================================================================================
ol.counter {
	list-style-type: none;
	counter-reset: item;
	li {
		position: relative;
		padding: 0px 0px 0px 45px;
		&:before {
			counter-increment: item;
			content: counter(item);
			position: absolute;
			left: 0;
			top: 0;
			color: #818181;
			font-size: 14px;
			font-weight: 700;
			text-align: center;
			line-height: 26px;
			border-radius: 50%;
			width: 28px;
			height: 28px;
			border: 1px solid #4274bb;
		}
	}
}
//====================================================================================================
.ellipsis {
	display: block;
	overflow: hidden;
	width: 100%;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.es {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
//====================================================================================================
.table {
	display: table;
	font-size: 0;
	width: 100%;
	//table-layout: fixed;
}
.trow {
	display: table-row;
}
.cell {
	display: table-cell;
	&.full {
		width: 100%;
	}
}
//====================================================================================================
._ibg {
	position: relative;
	img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
	}
}
body.ie {
	._ibg {
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}
	._ibg img {
		width: 0;
		height: 0;
		opacity: 0;
		visibility: hidden;
	}
}
//====================================================================================================
._video {
	position: relative;
	overflow: hidden;
	height: 0;
	padding-bottom: 56.25%;
	video,
	iframe,
	object,
	embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}
.videobg {
	video,
	iframe,
	object,
	embed {
		position: fixed;
		top: 50%;
		left: 50%;
		min-width: 100%;
		min-height: 100%;
		width: auto;
		height: auto;
		z-index: -100;
		transform: translateX(-50%) translateY(-50%);
		background-size: cover;
	}
}
//====================================================================================================
// ._more-block
._more-block {
}
// ._more-content
._more-content {
	transition: all 0.3s ease 0s;
	overflow: hidden;
}
// ._more-item
._more-item {
}
// ._more-link
._more-link {
	cursor: pointer;
	span {
		font-style: normal;
		&:first-child {
			display: block;
		}
		&:last-child {
			display: none;
		}
	}
	&._active {
		span {
			font-style: normal;
			&:first-child {
				display: none;
			}
			&:last-child {
				display: block;
			}
		}
	}
}
//====================================================================================================
%graystyle {
	transition: all 0.3s ease 0s;
	filter: grayscale(1);
	-webkit-filter: grayscale(1);
	-moz-filter: grayscale(1);
	-o-filter: grayscale(1);
}
%graystyleoff {
	filter: grayscale(0);
	-webkit-filter: grayscale(0);
	-moz-filter: grayscale(0);
	-o-filter: grayscale(0);
}
//====================================================================================================
#map {
	// background: url("../img/icons/loading.gif") center / 50px no-repeat;
}
//====================================================================================================
._swiper {
	overflow: hidden;
	//.swiper-wrapper
	.swiper-wrapper {
		width: 100%;
		height: 100%;
		box-sizing: content-box;
		display: flex;
		position: relative;
	}
	&.swiper-container-vertical {
		.swiper-wrapper {
			flex-direction: column;
		}
	}
	&.swiper-container-autoheight {
		.swiper-wrapper {
			align-items: flex-start;
		}
	}
}
.swiper-container-initialized {
	.swiper-slide {
		flex-shrink: 0;
		// transition-property: transform;
	}
}
.swiper-container-android {
	.swiper-slide,
	.swiper-wrapper {
		transform: translate3d(0px, 0, 0);
	}
}
.swiper-button-lock {
	display: none !important;
}
//====================================================================================================
._tabs {
}
._tabs-item {
}
._tabs-block {
	display: none;
	&._active {
		display: block;
	}
}
//=====================================================================================================================
.mirror {
	transform: scale(-1, 1);
}
//=====================================================================================================================
.nicescroll-rails {
	z-index: 1000 !important;
}
//========================================================================================================================================================

//========================================================================================================================================================
._custom-scroll {
	position: fixed;
	right: 0;
	top: 0;
	width: 3px;
	height: 100%;
	z-index: 1000;
	//background-color: rgba(0, 0, 0, 0.1);
	&__line {
		background-color: rgba(0, 0, 0, 0.5);
		border-radius: 3px 0 0 3px;
		position: relative;
		left: 0;
		top: 0;
		width: 100%;
	}
}
//</ГОТОВЫЕ КЛАССЫ>====================================================================================================
._main-title {
	text-align: center;	
	@include adaptiv-value("margin-bottom", 32, 15, 1);
	h1 {
		color: #000;
		line-height: 120%;
		font-weight: bold;
		text-transform: capitalize;
		@include adaptiv-value("font-size", 40, 20, 1);
	}
}

._flyImage._ibg {
	opacity: 1;
	position: fixed;
	z-index: 100;
	transition: all 1s ease 0s;
}

._btn-white,
._btn-orange {
	min-height: 48px;
	padding: 12px 38px;		
	font-weight: 600;
	line-height: 24/16 * 100%;
	transition: all 0.3s ease 0s;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-transform: capitalize;
	@media (max-width: $md4+px) {
		padding: 0;
		font-size: 16px!important;
		min-height: 40px!important;
	}
}
._btn-white {
	color: $orangeColor;
	background-color: #fff;
	border: 1px solid $orangeColor;
	@media (any-hover: hover) {
		&:hover {
			color: #fff;
			background-color: $orangeColor;
		}
	}
}
._btn-orange {
	color: #fff;	
	border: 1px solid transparent;
	background-color: $orangeColor;	
	@media (any-hover: hover) {
		&:hover {
			color: $orangeColor;
			background-color: #fff;
			border: 1px solid $orangeColor;
		}
	}
}
// dotts-arrows slider
.swiper-button-next,
.swiper-button-prev {
	width: 40px;
	height: 40px;
	color: #E89F71;
	display: flex;
	align-items: center;
	pointer-events: auto;
	justify-content: center;	
	background-color: #FCF8F3;
	box-shadow: 0px 4px 14px -1px rgb(0 0 0 / 12%);
	&::after {
		font-size: 20px;
	}
	@media (any-hover: hover) {
		&:hover {
			color: #fff;
			background-color: #E89F71;
		}
	}
}
.swiper-pagination {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	&-bullet {
		position: relative;
		width: 10px;
		height: 10px;			
		margin: 0 4px;
		display: flex;
		cursor: pointer;
		border-radius: 50%;
		align-items: center;
		margin-right: 12px!important;
		justify-content: center;
		&-active {
			background-color: #E89F71;
			&::before {
				content: '';
				position: absolute;
				z-index: -1;
				width: 22px;
				height: 22px;
				border-radius: 50%;
				border: 1px solid #E89F71;
			}
		}			
	}		
}